
.DS_Store
.idea/Amtrak-Twitter-Analysis.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/vcs.xml
__pycache__/scrape.cpython-39.pyc
.ipynb_checkpoints/Amtrak_Reviews_Analysis-checkpoint.ipynb
.idea/Amtrak-Review-Analysis.iml
.idea/csv-editor.xml
.idea/modules.xml
